# Virtual Environment
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Large data and models
*.csv
*.pkl
!fake_news_project/lr_model.pkl
!fake_news_project/tfidf_vectorizer.pkl
!fake_news_project/scaler.pkl
!fake_news_project/rf_model.pkl
*.npz
*.png
*.jpg
*.jpeg
*.webp
.DS_Store
.vscode/

# Environment Variables
.env
.streamlit/secrets.toml

